<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper namespace="com.qfedu.dao.AuthorityDao">
	<resultMap id="authorityDao" type="authority">
		<id column="id" property="id"></id>
		<result column="acion" property="acion"></result>
		<result column="aurl" property="aurl"></result>
		<result column="parentId" property="parentId"></result>
		<result column="title" property="title"></result>
		<result column="type" property="type"></result>
		<collection property="list" ofType="com.qfedu.pojo.Authority">
			<id column="cid" property="id"></id>
			<result column="cacion" property="acion"></result>
			<result column="caurl" property="aurl"></result>
			<result column="cparentId" property="parentId"></result>
			<result column="ctitle" property="title"></result>
			<result column="ctype" property="type"></result>
		</collection>
	</resultMap>

	<select id="findAllMenuByNo" parameterType="string" resultMap="authorityDao">
		select a.id,a.aicon,a.title,a.aurl,b.id as cid,b.title as ctitle,b.aurl as caurl from t_authority a
		INNER JOIN t_authority b
		on a.id=b.parentId
		where b.aurl in (SELECT distinct a.aurl from t_user u
			INNER JOIN t_userrole ur
			on u.id=ur.uid
			INNER JOIN t_role r
			on ur.rid = r.id
			INNER JOIN t_roleauthority ru
			on r.id=ru.rid
			INNER JOIN t_authority a
			on ru.aid=a.id
			where u.no=#{no})
	</select>
	
</mapper>