<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper		namespace="com.qfedu.dao.CityDao">
	<resultMap id="citydao" type="city">
	<id column="id" property="id"></id>
		<result column="name" property="name"></result>
		<result column="pno" property="pno"></result>
		<result column="no" property="no"></result>
	</resultMap>
	
</mapper>