<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper		namespace="com.qfedu.dao.ContectDao">
	<resultMap id="contectdao" type="contect">
	<id column="id" property="id"></id>
		<result column="name" property="name"></result>
		<result column="ref" property="ref"></result>
		<result column="aid" property="aid"></result>
		<result column="phone" property="phone"></result>
		<result column="flag" property="flag"></result>
		<result column="no" property="no"></result>
	</resultMap>
	
</mapper>