<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper		namespace="com.qfedu.dao.MsgDao">
	<resultMap id="msgdao" type="msg">
	<id column="id" property="id"></id>
		<result column="type" property="type"></result>
		<result column="createtime" property="createTime"></result>
		<result column="tittle" property="tittle"></result>
		<result column="tono" property="tono"></result>
		<result column="content" property="content"></result>
		<result column="no" property="no"></result>
		<result column="flag" property="flag"></result>
	</resultMap>
	
</mapper>