<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper		namespace="com.qfedu.dao.StudentDao">
	<resultMap id="studentdao" type="student">
	<id column="no" property="no"></id>
		<result column="name" property="name"></result>
		<result column="createdate" property="createDate"></result>
		<result column="flag" property="flag"></result>
		<result column="qq" property="qq"></result>
		<result column="gid" property="gid"></result>
		<result column="introno" property="introNo"></result>
		<result column="email" property="email"></result>
		<result column="phone" property="phone"></result>
		<result column="education" property="education"></result>
		<result column="school" property="school"></result>
		<result column="cardno" property="cardNo"></result>
		<result column="birthday" property="birthday"></result>
		<result column="sex" property="sex"></result>
		<result column="photo" property="photo"></result>
		<association property="grade" resultMap="com.qfedu.dao.GradeDao.gradedao"></association>
	</resultMap>
	<select id="findAll" resultMap="studentdao">
		select s.*,g.name as gname from t_student s
		INNER JOIN t_grade g
		on s.gid=g.id
	</select>
	
	<delete id="deleteStudentById" parameterType="String">
		delete from t_student where no=#{no}
	</delete>

	<insert id="addStudent" parameterType="student">
		insert into t_student values(#{no},#{name},#{sex},#{birthday},#{cardNo},#{school},#{education},#{gid},1,#{email},#{qq},#{phone},#{introNo},#{createDate},NULL)
	</insert>
</mapper>